# Ignore everything by default.

# Root

!.gitignore

# Config
!.config/
.config/*

## Fish
!.config/fish
.config/fish/**
!.config/fish/config.fish

## Neovim
!.config/nvim
.config/nvim/**
!.config/nvim/**/*
