# ignore everything by default.
*

!.config/
.config/*

# iTerm
!.config/iterm2
.config/iterm2/**
!.config/iterm2/config
.config/iterm2/config/*
!.config/iterm2/config/*

# Skhd
!.config/skhd
.config/skhd/*
!.config/skhd/skhdrc

# Yabai
!.config/yabai
.config/yabai/*
!.config/yabai/yabairc

# Git
!.gitconfig
!.gitignore

# Tmux
!.tmux
!.tmux.conf
!.tmux/*.yml

